.embedded {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
  
  .topLeft {
    top: 0;
    left: 0;
    width: 49.9%;
    height: 49.9%;
  }
  
  .topRight {
    top: 0;
    right: 0;
    width: 49.9%;
    height: 49.9%;
  }
  
  .bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height : 49.9%;
  }

  .background{
    background-color: rgb(58, 79, 79);
  }